[package]
name = "ensure_no_std"
version = "0.1.0"
authors = ["Geordon Worley <vadixidav@gmail.com>"]
edition = "2018"
publish = false

[dependencies]
matrixmultiply = { path = "..", default-features = false }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
